.cardMain {
    width: 100%;
    max-height: 100%;
    height: 656px;
    overflow: hidden;
    .cardCategory {
        position: absolute;
        top: 1.5rem;
        left: 0;

        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 0.2rem 0.5rem;
        border-bottom: 3px solid var(--red);

        font-size: 0.75rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    .cardHeader {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
        }
    }
    .cardBody {
        max-height: 50%;
        position: absolute !important;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        bottom: 0;
        padding: 1rem !important;
        background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #000 80%);
        .cardTitle {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            text-shadow: 2px 2px 2px black;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: auto;
            max-height: 148px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .cardText {
            font-size: 1.25rem;
            font-weight: 700;
            color: #fff;
            text-shadow: 2px 2px 2px black;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 24px;
            height: auto;
            max-height: 72px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .cardPostTime {
            color: #555;
            display: none;

            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1rem;

            margin: 0.75rem 0;
        }
    }
    &:hover img {
        transform: scale(1.2);
    }
}

@media (max-width: 1399px) {
    .cardMain {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .cardMain {
        max-height: 480px;
    }
}
@media (max-width: 767px) {
    .cardMain {
        width: 100%;
        max-width: 22rem;
        height: auto;
        border: 1px solid #f0f0f0;
        .cardHeader {
            position: relative;
            height: 224px;
            width: 100%;
            img {
                border-radius: 0;
            }
        }
        .cardBody {
            position: relative !important;
            height: auto;
            padding: 0.5rem;
            background: #fff;
            .cardTitle {
                color: #333;

                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.75rem;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                max-height: 56px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-shadow: none;
            }
            .cardText {
                color: #555;

                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                text-shadow: none;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                max-height: 48px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .cardPostTime {
                color: #555;
                display: block;
    
                font-size: 0.75rem;
                font-weight: 400;
                line-height: 1rem;
    
                margin: 0.75rem 0;
            }
        }
    }
}
