.title {
    color: #fff !important;
    margin-bottom: 0.5rem !important;
}
.description {
    color: #fff !important;
}
@media (max-width: 575px) {
    .video_player {
        height: 220px !important;
    }
}
